{
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80
      }
    ],
    "import/extensions": [
      "error",
      "always"
    ]
  }
}