{
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": "error",
    "prefer-promise-reject-errors": "error",
    "import/extensions": [
      "error",
      "always"
    ]
  }
}